<section class="page-section portfolio" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <div class="text-center mb-5">
            <img class="align-top" src="assets/img/whitetriforce.svg" width="32" height="32"/>
            <h2 class="page-section-heading d-inline-block text-white px-2">About Me</h2>
        </div>

        <!-- About Section Content-->
        <!-- <div class="row">
            <div class="col-lg-4 ml-auto">
                <p class="pre-wrap lead">Freelancer is a free bootstrap theme created by Start Bootstrap. The download
                    includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS
                    stylesheets for easy customization.</p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="pre-wrap lead">You can create your own custom avatar for the masthead, change the icon in the
                    dividers, and add your email address to the contact form to make it fully functional!</p>
            </div>
        </div> -->

        <ul class="{% if site.style == 'dark' %}text-white{% endif %} timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/1.jpg" alt="" />
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h5>2011-2014</h5>
                        <h4 class="subheading">Biddenham Upper School <br> GCSE</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-white">
                            <!-- TODO -->
                        </p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/2.jpg" alt="" />
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h5>2014-2016</h5>
                        <h4 class="subheading">Biddenham Upper School <br> A-Levels</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-white">
                            <!-- TODO -->
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/3.jpg" alt="" />
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h5>2016-2017</h5>
                        <h4 class="subheading">Keele University <br> Foundation Year</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-white">
                            <!-- TODO -->
                        </p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/4.jpg" alt="" />
                </div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h5>2017-2020</h5>
                        <h4 class="subheading">Aston University <br> Undergraduate</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-white">
                            <!-- TODO -->
                        </p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted ">
                <div class="timeline-image">
                    <h4>
                        Time
                        <br />
                        waits for
                        <br />
                        no one
                    </h4>
                </div>
            </li>
        </ul>
    </div>




</section>