<header class="masthead bg-primary text-white text-center">
  <div class="container d-flex align-items-center flex-column">

    {% if site.layout == 'stacked' %}
    {% assign metadata_styles = 'd-md-inline-block mx-3 mb-3' %}
    {% else %}
    {% assign metadata_styles = 'd-flex flex-items-center mb-3' %}
    {% endif %}

    <img src="assets/img/avatar.png" class="masthead-avatar mb-3">
    <h1 class="{% if site.style == 'dark' %}text-white{% endif %} masthead-heading mb-3">{% if user.name %}{{ user.name
      }}{%
      else %}{{ user.login }}{% endif %}</h1>
    <p class="mb-3 f4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
      {{ user.bio }}
    </p>

    {% if include.metadata %}
    <div class="f4 mb-6">
      {% if user.name %}
      <div class="{{ metadata_styles }} ">
        {% octicon mark-github height:32 class:"mr-2 v-align-middle" fill:{{ icon_color }} aria-label:GitHub %}
        <a href="https://github.com/{{ user.login }}" class="{% if site.style=='dark' %}text-white {% endif %}">
          @{{ user.login }}
        </a>
      </div>
      {% endif %}
      {% if user.email %}
      <div class=" {{ metadata_styles }}">
          {% octicon mail height:20 class:"mr-2 v-align-middle" fill:{{ icon_color }} aria-label:email %}
          <a href="mailto:{{ user.email }}" class="{% if site.style=='dark' %} text-white {% endif %}">
            {{ user.email }}
          </a>
      </div>
      {% endif %}
      {% if user.location %}
      <div class="{{ metadata_styles }} {% if site.style == 'dark' %}text-white{% endif %}">
        {% octicon location height:20 class:"mr-2 v-align-middle" fill:{{ icon_color }} aria-label:Location %}
        {{ user.location }}
      </div>
      {% endif %}
      {% if site.social_media %}
      <div
        class="{% if site.layout == 'stacked' %}flex-justify-center mt-2{% endif %} d-flex flex-wrap flex-items-start">
        {% for account in site.social_media %}

        {% assign service_shortname = account[0] %}
        {% assign service = site.data.social_media[service_shortname] %}
        <a class="btn btn-outline-light btn-social mx-2" href="{{ service.profile_url_prefix }}{{ account[1] }}"
          aria-label="{{ service.name }}: {{ account[1] }}">
          <i class="fab fa-fw {{ service.fa }}" ></i>
        </a>

        {% endfor %}
      </div>
      {% endif %}
      {% if user.hireable %}
      <span title="Hire me" class="d-inline-block f5 rounded-2 text-white bg-green py-1 px-2">Available for hire</span>
      {% endif %}
    </div>
    {% endif %}

    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <img src="assets/img/whitetriforce.svg" width="32" height="32"></i>
      </div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- Masthead Subheading-->
    <p class="pre-wrap masthead-subheading font-weight-light mb-0">Software/Games/App Developer
      UX Designer </p>

  </div>
</header>